{% extends 'patient/mother_pat.html' %}
{% block content %}
    <ol class="breadcrumb">
        {{ li|safe }}
    </ol>
    <div class="container-fluid">
        <table class="table table-hover" style="text-align: center">
            <tr>
                <td>选择日期</td>
                {% for i in day_list %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>上午</td>
                {% for obj in user_list_a %}
                    {% if obj == 0 %}
                        <td height="100">没有排班</td>
                    {% else %}
                        <td height="100"><a href="/patient/chooseTime/{{ obj.sId }}">余号：{{ obj.remainNumber }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>下午</td>
                {% for obj in user_list_p %}
                    {% if obj == 0 %}
                        <td height="100">没有排班</td>
                    {% else %}
                        <td height="100"><a href="/patient/chooseTime/{{ obj.sId }}">余号：{{ obj.remainNumber }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="container-fluid">
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">医生简介</h6>
                </div>
                <div class="card-body">

                    <div class="small mb-1">{{ doc.dName }}</div>
                    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                        {{ doc.dIntroduce }}
                    </nav>
                    <p class="mb-0 small">医生擅长： {{ doc.dSpecial }}</p>
                </div>
            </div>

        </div>

        <!-- Fade In Utility -->
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">医生评价</h6>
                </div>
                <div class="card-body">

                    <ul class="list-group">
                        {% for comment in comment_list %}
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            {{ comment.content }}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


