{% extends 'patient/mother_pat.html' %}
{% block content %}
    <ol class="breadcrumb">
        {{ li|safe }}
    </ol>
    <div class="container-fluid">
        <h1 class="h3 mb-1 text-gray-800">
            {{ obj_sch.sTime }}
            {% if obj_sch.ap %}
                上午
            {% else %}
                下午
            {% endif %}
        </h1>
        <p class="mb-4">{{ obj_sch.doctor.department }}</p>
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            {% for k,v in obj_dic.items %}
                {% if v %}
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <a href="/patient/confirm/{{ obj_sch.sId }}?time={{ k }}"><h4>{{ k }}</h4>
                                            </a>
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">可预约</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-hospital-o fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- Earnings (Monthly) Card Example -->
        </div>
    </div>
{% endblock %}