{% extends 'patient/mother_pat.html' %}
{% block content %}
    <div class="container-fluid">
    <h1>修改个人信息</h1>

    <form class="form" method="post" action="/patient/editInfo/" novalidate>
            <div class="modal-body" id="model-body">
                <div class="form-group {% if form_obj.pName.errors.0 %} has-error {% endif %}">
                    {# 相当于注册截图中的“帐号”（下同）#}
                    {{ form_obj.pName.label }}
                    {# 相当于注册截图中的文本框 （下同）#}
                    {{ form_obj.pName }}
                    <span class="help-block">{{ form_obj.pName.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.pPassword.errors.0 %} has-error {% endif %}">
                    {{ form_obj.pPassword.label }}
                    {{ form_obj.pPassword }}
                    <span class="help-block">{{ form_obj.pPassword.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.re_pwd.errors.0 %} has-error {% endif %}">
                    {{ form_obj.re_pwd.label }}
                    {{ form_obj.re_pwd }}
                    <span class="help-block">{{ form_obj.re_pwd.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.pEmail.errors.0 %} has-error {% endif %}">
                    {{ form_obj.pEmail.label }}
                    {{ form_obj.pEmail }}
                    <span class="help-block">{{ form_obj.pEmail.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.pTel.errors.0 %} has-error {% endif %}">
                    <p>{{ form_obj.pTel.label }}
                        {{ form_obj.pTel }}</p>
                    <span class="help-block">{{ form_obj.pTel.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.pIdCard.errors.0 %} has-error {% endif %}">
                    <p>{{ form_obj.pIdCard.label }}
                        {{ form_obj.pIdCard }}</p>
                    <span class="help-block">{{ form_obj.pIdCard.errors.0 }}</span>
                </div>
                <div class="form-group  {% if form_obj.pGender_id.errors.0 %} has-error {% endif %}">
                    {{ form_obj.pGender_id.label }}
                    {{ form_obj.pGender_id }}
                    <span class="help-block">{{ form_obj.pGender_id.errors.0 }}</span>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary form-control" value="确认"/>
                    </div>

                </div>
            </div>
        </form>

    </div>
{% endblock %}