{% extends 'doctor/mother_doc.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>我的评论</h1>
    </div>
    <div class="container-fluid">

        <table class="table table-hover">
            <tr>
                <td>编号</td>
                <td>评论时间</td>
                <td>评论内容</td>
                <td>评论用户</td>

            </tr>
            {% for row in comment_list %}
                <tr>
                    <td>{{ row.cId }}</td>
                    <td>{{ row.cTime }}</td>
                    <td>{{ row.content }}</td>
                    <td><a href='#'>{{ row.patients.pName }}</a></td>

                </tr>


            {% endfor %}
        </table>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ page_info.pager|safe }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}