<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<p>
    用户登录

</p>
<form action="/patient/myTry/" method="post" novalidate class="form">
    {# 下面的if语句是用来判断是否有错误 #}
    <div class="form-group {% if form_obj.name.errors.0 %} has-error {% endif %}">
        {# 相当于注册截图中的“帐号”（下同）#}
        {{ form_obj.name.label }}
        {# 相当于注册截图中的文本框 （下同）#}
        {{ form_obj.name }}
        <span class="help-block">{{ form_obj.name.errors.0 }}</span>
    </div>

    <div class="form-group  {% if form_obj.pwd.errors.0 %} has-error {% endif %}">
        {{ form_obj.pwd.label }}
        {{ form_obj.pwd }}
        <span class="help-block">{{ form_obj.pwd.errors.0 }}</span>
    </div>
    <div class="form-group  {% if form_obj.re_pwd.errors.0 %} has-error {% endif %}">
        {{ form_obj.re_pwd.label }}
        {{ form_obj.re_pwd }}
        <span class="help-block">{{ form_obj.re_pwd.errors.0 }}</span>
    </div>
    <div class="form-group  {% if form_obj.email.errors.0 %} has-error {% endif %}">
        {{ form_obj.email.label }}
        {{ form_obj.email }}
        <span class="help-block">{{ form_obj.email.errors.0 }}</span>
    </div>
    <div class="form-group  {% if form_obj.mobliphone.errors.0 %} has-error {% endif %}">
        {{ form_obj.mobliphone.label }}
        {{ form_obj.mobliphone }}
        <span class="help-block">{{ form_obj.mobliphone.errors.0 }}</span>
    </div>
    <div class="form-group  {% if form_obj.gender.errors.0 %} has-error {% endif %}">
        {{ form_obj.gender.label }}
        {{ form_obj.gender }}
        <span class="help-block">{{ form_obj.gender.errors.0 }}</span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="注册">
    </div>
</form>
    <script src="/static/jquery-3.3.1.js"></script>

    <script>
        function submitForm() {
            $('.c1').remove();
            $.ajax({
                url: '/patient/ajaxform/',
                type: 'POST',
                data: $('#f1').serialize(),
                dataType: JSON,
                success: function (arg) {
                    console.log(arg);

                }
            })
        }

        $(function () {
            $('#register').click(function () {
                $('.c1').remove();
                $.ajax({
                    url: '/patient/ajaxform/',
                    type: 'POST',
                    data: $('#f1').serialize(),
                    dataType: JSON,
                    success: function (arg) {
                        console.log(arg);
                        if (arg.status) {

                        } else {
                            $.each(arg.msg, function (index, value) {
                                console.log(index, value);
                                var tag = document.createElement('span');
                                tag.innerHTML = value[0];
                                tag.className = 'c1';
                                $('#f1').find('input name="' + index + '"]').after(tag)
                            })
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>